# Python/Lightning
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.ipynb_checkpoints/

# Packaging/build
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
env/
scripts/
figures/
tests/
# Checkpoints, models, outputs
wandb/
saved_models/
*.ckpt
*.pt
*.pth
logs/
*.npz

# Datasets / downloads
data/
colorectal_hist/
eurosat/
mnist_rotation_new/
dataset_cache/

#claude
.claude/
